.mt-48 {
  margin-top: 48px;
}

.type-container {
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}

.type-selector {
  width: 50px;
  height: 50px;
  margin-right: 16px;
  border-radius: 4px;
  cursor: pointer;
  background: #f0f0f3;
  box-shadow:  10px 10px 20px #c5c5c7, 
             -10px -10px 20px #ffffff;
  outline: none;
  border: none;
}

.type-selector:active {
  border-radius: 4px;
  background: linear-gradient(145deg, #ffffff, #d8d8db);
  box-shadow:  10px 10px 20px #c5c5c7, 
             -10px -10px 20px #ffffff;
}