.App {
  text-align: center;
  background-color: #282c34;
  font-family: 'Roboto'
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #282c34;
}

.upper {
  width: 100vw;
  height: 10vh;
  background-color: #252f42;
}

.lower {
  width: 100vw;
  height: 90vh;
}

.btn {
  width: 100px;
  height: 5vh;
  border-radius: 5px;
  font-size: 20px;
  background-color: #282c34;
  border: none;
  color: #3A808D;
  cursor: pointer;
}

.type-btn {
  width: 100px;
  height: 5vh;
  border-radius: 5px;
  font-size: 20px;
  background-color: transparent;
  border: 1px solid #6d6da1;
  user-select: none;
  outline: none;
  cursor: pointer;
  color: #3A808D;
}

.fas {
  font-size: 30px !important;
}

.mt-auto {
  margin-top: 2.5vh;
}

#canvas {
  margin-top: 30px;
  transition: all linear 1s;
}
canvas {
  transition: width .5s, height .5s, top .5s, left .5s;
}