.visualiser {
  height: 420px;
  margin: 24px;
  padding-top: 16px;
  box-shadow: inset 2px 2px 5px #b8b9be,inset -3px -3px 7px #fff!important;
  border: .0625rem solid rgba(243,247,250,.05);
  border-radius: .55rem;
  overflow: hidden;
}